.skillsSection {
    min-height: 100vh;
    padding: 1rem;
    color: white;
    text-align: center;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-size: clamp(2rem, 2vw, 3rem);
    font-weight: bold;
    margin-bottom: 1em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: whitesmoke;
}

.skillsGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
}

.skillCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    transition: transform 0.3s ease-in-out;
    min-width: 100px;
}

.skillCard:hover {
    transform: translateY(-0.5rem);
}

.skillLogo {
    width: 3em;
    height: auto;
    font-size: 2rem;
    margin: 0.5em;
}

.skillName {
    font-size: clamp(0.8rem, 1.5vw, 2rem);
    font-weight: 500;
    margin-top: 0.5rem;
    color: #e0e0e0;
}

@media (max-width: 1100px) {
    .skillCard {
        width: calc(25% - 2rem);
    }
}

@media (max-width: 768px) {
    .skillsSection {
        padding: 2rem 0.5rem;
    }

    .skillCard {
        width: calc(33.33% - 2rem);
        margin: 0.5rem;
    }

    .skillLogo {
        max-width: 80px;
    }
}

@media (max-width: 480px) {
    .skillCard {
        width: calc(50% - 1rem);
    }

    .skillLogo {
        max-width: 60px;
    }
}