.portfolio {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0a192f;
    color: #e6f1ff;
    padding: 2rem;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.portfolioList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-bottom: 2rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    
}

.item {
    width: 25%;
    height: 400px;
    background-color: #112240;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(17, 34, 64, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 1rem;
    text-align: center;
}

.item:hover .overlay {
    opacity: 1;
}

/* Add this to your CSS */
.overlay .githubLink {
    display: none;
    margin-top: 1rem;
    font-size: 1.5rem;
    color: #e6f1ff;
    transition: transform 0.3s ease;
    text-decoration: none; /* Remove underline from the link */
}

.item:hover .githubLink {
    display: flex;
    align-items: center;
    transform: scale(1.1);
}

.overlay .githubLink h6 {
    margin: 0;
    font-size: 1rem; /* Adjust the size as needed */
    color: #e6f1ff;
    margin-right: 0.5rem;
}

.overlay .githubLink img {
    width: 20px; /* Adjust the size as needed */
    height: 20px; /* Adjust the size as needed */
}


.item:hover img {
    transform: scale(1.1);
}

.overlay h3 {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
}

.overlay p {
    font-size: 1rem;
    line-height: 1.4;
}

@media (max-width: 768px) {
    .item {
        width: calc(50% - 1rem);
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 2rem;
    }
    .item {
        width: 100%;
    }
}